@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ProxymaNova";
  src: local("ProxymaNova"),
    url("./fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "ProxymaNova";
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}
